{% from "_render_field.html" import render_field%}
{% extends "base.html" %}

{% block title %}Добавить отрасли и должности{% endblock title %}

{%- block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-3">
                <form action="{{ url_for('adminDataIPAdd') }}" method="POST">
                    {{ form.csrf_token }}

                    {{ render_field(form.industry)}}
                    {{ render_field(form.profession)}}

                    <div class="row justify-content-end form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить</button>
                    </div>
                </form>

                {% if message %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <a href="{{ url_for('admin') }}">Назад</a><br>
        </div>

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Отрасль</th>
                    <th scope="col">Должность</th>
                  </tr>
                </thead>
                <tbody>
                {% for item1 in result %}
                  <tr>
                    <td>{{ item1[0] }}</td>
                    <td>{{ item1[1] }}</td>
                  </tr>
                {%endfor%}
                </tbody>
              </table>
        </div>
    </div>
{%- endblock content %}
