{% extends "base.html" %}

{% block title %}Каталог резюме{% endblock title %}

{%- block content %}

<div class="container">
    <div class="row">
        <h1>Оценка резюме</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-auto">
                <div class="card">
                    <div class="card-body">
                        <p><strong>Отрасль: </strong>{{ cvInfo[2] }}</p>
                        <p><strong>Должность: </strong>{{ cvInfo[3] }}</p>

                        {% if cvInfo[4] is not none %}
                            <p><strong>Заработная плата от: </strong>{{ cvInfo[4] }}</p>
                        {% endif %}

                        {% if cvInfo[5] is not none %}
                            <p><strong>Заработная плата до: </strong>{{ cvInfo[5] }}</p>
                        {% endif %}

                        <p><strong>Опыт работы (лет): </strong>{{ cvInfo[6] }}</p>
                        <p><strong>Уровень образования: </strong>{{ cvInfo[7] }}</p>
                        <p><strong>Учебное заведение: </strong>{{ cvInfo[8] }}</p>
                        <p><strong>Навыки: </strong>{{ cvInfo[9] }}</p>
                        <p><strong>Тип занятости: </strong>{{ cvInfo[10] }}</p>
                        <p><strong>Дата публикации: </strong>{{ cvInfo[11] }}</p>
                        <p><strong>ФИО: </strong>{{ fullName }}</p>
                        <p><strong>email: </strong>{{ contacts[0] }}</p>
                        <p><strong>Телефон: </strong>{{ contacts[1] }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
{%- endblock content %}