{% extends "base.html" %}

{% block title %}Пополнение баланса{% endblock title %}

{%- block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <button type="button" class="btn btn-primary">
                    <a href="{{ (url_for('profile', username=username, status=status)) }}" class="text-white">Вернуться в личный кабинет</a>
                </button>
            </div>
    </nav>

    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Дата заявки</th>
            <th scope="col">ФИО</th>
            <!-- <th scope="col">ФИО</th> -->
            <th scope="col">Описание услуг исполнителя</th>
          </tr>
        </thead>
        <tbody>
            {% for item in viewsInfo %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>  
            </tr>
            {%endfor%}
        </tbody>
{%- endblock content %}
